<!DOCTYPE html>
<html>
  <head>
    <title>ZipHook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property='og:title' content='Zip'/>
    <meta property='og:image' content="<%= image_url("main.gif") %>"/>
    <meta property='og:description' content='A clone of Zillow built with React Hooks, Redux, Ruby on Rails, AWS, Google Map Api, Javascript, and SQL that allows users to upload, search, and save properties with an immersive photo experience'/>
    <meta property='og:url' content='https://ziphook.herokuapp.com/#/'/>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials[:google][:api_key]}" %>
    <%= favicon_link_tag asset_path("favicon.png") %>
        
      <script src="https://kit.fontawesome.com/38b2222885.js" crossorigin="anonymous"></script>
      <script type="text/javascript">
      window.logoURL = "<%= image_url("logo.png") %>"
      window.buyimgURL = "<%= image_url("buy.jpg") %>"
      window.sellimgURL = "<%= image_url("Sell.jpg") %>"
      window.rentimgURL= "<%= image_url("Rent.jpg") %>"
      window.searchBgUrl = "<%= image_url("searchBg.jpg") %>"
      window.footerUrl = "<%= image_url("footer.png") %>"
      window.sellBg1 =  "<%= image_url("house_for_sale.png") %>"
      window.sellBg2 =  "<%= image_url("sell2.png") %>"
      window.loaderGif = "<%= image_url("Engineer.gif") %>"
      window.loaderlogoGif = "<%= image_url("lodingfavicon.gif") %>"
      window.linkedInGif = "<%= image_url("main.gif") %>"
    </script>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
